 <template>
  <div class="home">
    <section class="section">
      <div class="container">
        <button class="button is-medium is-warning" @click="toast">
          Launch toast
        </button>
      </div>
    </section>
  </div>
</template>

<script>
export default {
  name: "Home",
  methods: {
    toast() {
      this.$toast.open("Hey! I'm a toast");
    }
  }
};
</script>

<style scoped>
</style>